<header>
  <!-- Intro settings -->
  <style>
    #intro {
      /* Margin to fix overlapping fixed navbar */
      margin-top: 58px;
    }

    @media (max-width: 991px) {
      #intro {
        /* Margin to fix overlapping fixed navbar */
        margin-top: 45px;
      }
    }
  </style>

</header>
<!--Main Navigation-->

<!--Main layout-->
<main class="my-5">
  <div class="container">
    <!--Section: Content-->
    <section class="text-center">
      <h1 class="mb-5"><strong>Countries of the World</strong></h1>

      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4" *ngFor="let country of countries">

          <div class="card text-black">

            <img src="{{country.flags.png}}" class="card-img-top" alt="Apple Computer" />
            <div class="card-body">
              <div class="text-center">
                <h5 class="card-title">{{country.name.official}}</h5>
                <p class="text-muted mb-4">(In Spanish: «{{country.translations.spa.official}}»)</p>
              </div>
              <div>
                <div class="d-flex justify-content-between">
                  <span>Capital</span><span>{{country.capital[0]}}</span>
                </div>
                <div class="d-flex justify-content-between">
                  <span>Region</span><span>{{country.continents[0]}}</span> 
                </div>
                <div class="d-flex justify-content-between">
                  <span>SubRegion</span><span>{{country.subregion}}</span>
                </div>
              </div>
              <div class="d-flex justify-content-between total font-weight-bold mt-4">
                
                <button type="button" class="btn btn-primary flex-fill me-1" data-mdb-ripple-color="dark" routerLink="/country/{country.name.common}}">
                  Learn more
                </button>
               
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!--Section: Content-->

  </div>
</main>
<!--Main layout-->