
<section style="background-color: #E3D4D0;">
    <div class="container py-5">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-4">
          <div class="card text-black">

            <i class="fas fa-angles-left" aria-hidden="true" routerLink="/countries"></i>
            
            <figure>
              <img src="{{country.flags.png}}" class="card-img-top" alt="Apple Computer" />
              <figcaption>Flag</figcaption>
            </figure>


            <figure>
              <img src="{{country.coatOfArms.png}}" class="card-img-top" alt="Apple Computer" />
              <figcaption>Coat Of Arms</figcaption>
            </figure>

            <div class="card-body">
              <div class="text-center">
                <h5 class="card-title">{{country.name.common}}</h5>
                <p class="text-muted mb-4">(In Spanish: «{{country.translations.spa.common}}») <br> (In Arabic: «{{country.translations.ara.common}}»)</p>
              </div>
              <div>
                <div class="d-flex justify-content-between">
                  <span class="text">Official Name</span><span>{{country.name.official}}</span>
                </div>
                <div class="d-flex justify-content-between">
                  <span class="text">Continent</span><span>{{country.region}}</span>
                </div>
                <div class="d-flex justify-content-between">
                  <span class="text">Region</span><span>{{country.subregion}}</span>
                </div>
                <div class="d-flex justify-content-between">
                    <span>Independent State</span><span class="may">{{country.independent}}</span>
                </div>
                <div class="d-flex justify-content-between">
                  <span>Area</span><span>{{country.area}} Km²</span>
                </div>
                <div class="d-flex justify-content-between">
                  <span>Population</span><span>{{country.population}} Hab.</span>
                </div>

                <div class="d-flex justify-content-between">
                  <span>Demonym</span><span>{{country.demonyms.eng.m}}</span>
                </div>
             
              </div>
              <div class="d-flex justify-content-between total font-weight-bold mt-4">
                <br>
                <button type="button" class="btn btn-primary flex-fill me-1" data-mdb-ripple-color="dark" routerLink="/map/{{country.name.common}}"> 
                    <i class="fas fa-map-location-dot" aria-hidden="true"></i>
                    Ubication
                  </button>
              
             
                  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>